

<div id="chooseType" ng-show="chooseTypeVisibility">

    <div class="typeCard" ng-click="attachmentChose('info')">
        <div class="allignVertically">
            <i class="material-icons">info</i>
            <div>info</div>
        </div>
    </div>
    <div class="typeCard" ng-click="attachmentChose('place')">
        <div class="allignVertically">
            <i class="material-icons">place</i>
            <div>Place</div>
        </div>
    </div>
    <div class="typeCard" ng-click="attachmentChose('contact')">
        <div class="allignVertically">
            <i class="material-icons">person_pin</i>
            <div>Contact</div>
        </div>
    </div>


</div>
<!-- info -->
<div ng-show="typeChose == 'info'">
    <h4>Add info</h4>
    <form novalidate >
        <div class='addAttachContainer'>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo formInput">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-model='attachment.name'/>
                <label class="mdl-textfield__label" for="sample3">Title</label>
            </div>
            
           
            <div class="styled-select">
                <select ng-model="attachment.category" required >
                    <option value="">-- choose category --</option>
                    <option ng-repeat="category in craig.categories" value="{{category._id}}">
                        {{category.name}}
                    </option>
                </select>
                
            </div>
           
            <div class="mdl-textfield mdl-js-textfield textfield-demo formInput">
                <textarea class="mdl-textfield__input" type="text"  id="sample5" ng-model='attachment.description' ></textarea>
                <label class="mdl-textfield__label" for="sample5">Description...</label>
            </div>
       
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    ng-click="postAttachment(attachment, 'info')">
              Submit
            </button>
        </div>

    </form>

</div>

<!-- place -->
<div ng-show="typeChose == 'place'">
    <h4>Add place</h4>
    <form novalidate >
    <div class='addAttachContainer'>
        <div class="mdl-textfield mdl-js-textfield textfield-demo formInput">
            <input class="mdl-textfield__input" type="text" id="sample1"  placeholder="Title" ng-model='attachment.name'/>
        </div>
        
        <div class="styled-select">
            <select ng-model="attachment.category" required >
                <option value="">-- choose category --</option>
                <option ng-repeat="category in craig.categories" value="{{category._id}}">
                    {{category.name}}
                </option>
            </select>
        </div>
        
        <div class="mdl-textfield mdl-js-textfield textfield-demo formInput">
            <textarea class="mdl-textfield__input" type="text"  id="sample5" ng-model='attachment.description' ></textarea>
            <label class="mdl-textfield__label" for="sample5">Description...</label>
        </div>
        
        <p> drag the marker where you want or use the search box</p>
        <div style="width:100%; min-height: 200px;">
            <div >
                <script type="text/ng-template" id="searchbox.tpl.html">
                    <input type="text" placeholder="Search Box">
                </script>
                <ui-gmap-google-map id='craigMap' center='craigMap.center' zoom='craigMap.zoom' options="options2">
                
                <ui-gmap-search-box template="searchbox2.template" events="searchbox2.events" parentdiv='searchbox2.parentId'  ></ui-gmap-search-box>
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
            <div >
                <div id='craiMapSearch'>
                
                </div>
            
            </div>
        
        
        </div>    
        
        <br>
         <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            ng-click="postAttachment(attachment, 'place')">
        Submit
        </button>
    </div>
    </form>
</div>

<!-- contact -->
<div ng-show="typeChose == 'contact'">
    <h4>Add contact</h4>
    <form novalidate >
    <div class='addAttachContainer'>
        <div class="mdl-textfield mdl-js-textfield textfield-demo formInput">
            <input class="mdl-textfield__input" type="text" id="sample1"  placeholder="Name" ng-model='attachment.name'/>
        </div>
        
        <div class="styled-select">
            <select ng-model="attachment.category" required >
                <option value="">-- choose category --</option>
                <option ng-repeat="category in craig.categories" value="{{category._id}}">
                    {{category.name}}
                </option>
            </select>

        </div>
        
        <div class="mdl-textfield mdl-js-textfield textfield-demo formInput">
            <textarea class="mdl-textfield__input" type="text"  id="sample5" ng-model='attachment.description' ></textarea>
            <label class="mdl-textfield__label" for="sample5">Description...</label>
        </div>
        <div>
            <div class="mdl-textfield mdl-js-textfield textfield-demo ">
                <input class="mdl-textfield__input" type="text" id="sample1" pattern="-?[0-9]*(\.[0-9]+)?" ng-model='attachment.phone' />
                <label class="mdl-textfield__label" for="sample2">Phone</label> 
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield textfield-demo ">
                <input class="mdl-textfield__input" type="text" id="sample1" pattern="-?[0-9]*(\.[0-9]+)?" ng-model='attachment.cellPhone' />
                <label class="mdl-textfield__label" for="sample2">Mobile Phone</label> 
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>  
        </div>
        <div class="mdl-textfield mdl-js-textfield textfield-demo formInput ">
            <input class="mdl-textfield__input" type="text" id="sample1"  ng-model='attachment.mail' />
            <label class="mdl-textfield__label" for="sample2">E-mail</label> 
        </div>
        <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                ng-click="postAttachment(attachment, 'contact')">
            Submit
        </button>
    </div>
    </form>
</div>
