<div style='margin-bottom:16px;'>
    <!-- Colored raised button -->
    <div>
<button class="mdl-button mdl-js-button mdl-js-ripple-effect" 
        ng-click="clicksd()" ng-disabled='craig.prev == null'>
    <i class="material-icons">undo</i>
  back
</button>

</div>
 
    <div ng-repeat="n in craig.categories" class="mdl-shadow--2dp categories" ng-click="chooseCategry($index)">
        
        <i class="material-icons md-48" >{{n.icon || 'work'}}</i>
        <div class='cardName' >    
            {{ n.name | limitTo: 11 }}{{n.name.length > 11 ? '...' : ''}}
        </div>
    </div>
    <div style="clear:both;"></div>
    
    
    <hr>
    

    <ul class="craigsList">
        <li ng-repeat="info in craig.info" >
            <attachment-item item-data="info"></attachment-item>
        </li>
 
    </ul>

</div>

